<div class="card border border-0 d-flex align-items-center">
  <div class="card-body">
    <img src="../../../assets/bootspeed logo.png">
    <div class="d-flex">
    <ul class="list-unstyled">
      <li><a href="#" class="text-decoration-none text-secondary">Chi Siamo</a></li>
      <li><a href="#" class="text-decoration-none text-secondary">Serve aiuto?</a></li>
      <li><a href="#" class="text-decoration-none text-secondary">Dati identificativi</a></li>
      <li><a href="#" class="text-decoration-none text-secondary">Condizioni generali</a></li>
      <li><a href="#" class="text-decoration-none text-secondary">Privacy</a></li>
      <li><a href="#" class="text-decoration-none text-secondary">Impostazioni Privacy</a></li>
    </ul>
      <ul class="list-unstyled d-flex ms-auto">
        <li><i class="bi bi-facebook me-1"></i></li>
        <li><i class="bi bi-whatsapp me-1"></i></li>
        <li><i class="bi bi-instagram me-1"></i></li>
        <li><i class="bi bi-twitter-x"></i></li>
      </ul>
  </div>
  </div>
</div>
