.logo {
  cursor: pointer;
}
.card-hover {
  transition: transform 0.3s, box-shadow 0.3s;
}
.card-hover:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.logo-hover {
  transition: transform 0.3s;
}
.logo-hover:hover {
  transform: scale(1.08);
}
