<div class="row align-items-center">
  <div class="col-6 mx-auto mt-2">
  <div class="card card-hover mb-2 justify-content-center" [ngClass]="{ 'border-3 border-success': ford.available, 'border-2 border-danger': !ford.available }" *ngFor="let ford of getFordCar()">
    <div class="header border-bottom">
      <img src="../../../assets/bootspeed logo.png" class="w-25">
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ford.brand}}</h3>
      <p class="card-text">Esplora nuovi orizzonti con Ford: dove la potenza incontra l'affidabilità.</p>
      <p class="card-text fst-italic"><small class="text-body-secondary">{{ford.available ? "Disponibile" : "Non Disponibile"}}</small></p>
    </div>
    <img src="{{ford.modelImage}}" class="card-img-bottom w-50  d-flex align-self-center mt-1" alt="Ford car">
    <div class="d-flex justify-content-between">
      <p class="card-text mx-3 mb-1"><small class="text-body-secondary">{{ford.year}}</small></p>
      <p class="card-text mx-3 mb-1"><small class="text-body-secondary">{{ford.price}}€</small></p>
    </div>
  </div>
  </div>
  </div>

