body {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-image: url('https://www.linearity.io/blog/content/images/2023/06/how-to-create-a-car-NewBlogCover.png');
      background-repeat: repeat;
      background-size:25%
}
